<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SupplierListServlet</servlet-name>
        <servlet-class>uts.isd.controller.SupplierListServlet</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>uts.isd.controller.CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistorySearch</servlet-name>
        <servlet-class>uts.isd.controller.OrderHistorySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrder</servlet-name>
        <servlet-class>uts.isd.controller.updateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrder</servlet-name>
        <servlet-class>uts.isd.controller.cancelOrder</servlet-class>
    </servlet>
    
    
    
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.RemoveSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetailsSupplierServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateDetailsSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceCreationServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeviceCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>uts.isd.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.UpdateDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeleteDeviceServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewDeleteDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeviceCreationServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewDeviceCreationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeviceServletUsers</servlet-name>
        <servlet-class>uts.isd.controller.ViewDeviceServletUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserDeleteServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserLogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.UserLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierListServlet</servlet-name>
        <url-pattern>/SupplierListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplierServlet</servlet-name>
        <url-pattern>/AddSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSupplierServlet</servlet-name>
        <url-pattern>/RemoveSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierServlet</servlet-name>
        <url-pattern>/UpdateSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetailsSupplierServlet</servlet-name>
        <url-pattern>/UpdateDetailsSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceCreationServlet</servlet-name>
        <url-pattern>/DeviceCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeviceServlet</servlet-name>
        <url-pattern>/ViewDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeviceServlet</servlet-name>
        <url-pattern>/EditDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceServlet</servlet-name>
        <url-pattern>/UpdateDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceServlet</servlet-name>
        <url-pattern>/DeleteDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeleteDeviceServlet</servlet-name>
        <url-pattern>/ViewDeleteDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeviceCreationServlet</servlet-name>
        <url-pattern>/ViewDeviceCreationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeviceServletUsers</servlet-name>
        <url-pattern>/ViewDeviceServletUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogsServlet</servlet-name>
        <url-pattern>/UserLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    
    
        <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/OrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistorySearch</servlet-name>
        <url-pattern>/OrderHistorySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOrder</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrder</servlet-name>
        <url-pattern>/cancelOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
